<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HttpMessageTransmissionService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="TcpMessageTransmissionService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9080/AgentService/HttpMessageTransmissionService.svc"
                binding="basicHttpBinding" bindingConfiguration="HttpMessageTransmissionService"
                contract="SR_AgentAdapter.IMessageTransmissionService" name="HttpMessageTransmissionService" />
            <endpoint address="net.tcp://localhost:9090/CoreService/TcpMessageTransmissionService"
                binding="netTcpBinding" bindingConfiguration="TcpMessageTransmissionService"
                contract="SR_AgentAdapter.IMessageTransmissionService" name="TcpMessageTransmissionService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>