<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="MessageTransmissionBehavior">
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <!--For theservices which are hosted by the adapter-->
      <services>
        <service behaviorConfiguration="MessageTransmissionBehavior" name="CoreService.MessageTransmissionService">
          <endpoint address="HttpMessageTransmissionService.svc" binding="basicHttpBinding"
            name="HttpMessageTransmissionService" contract="CoreService.IMessageTransmissionService" >
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>

          <endpoint address="TcpMessageTransmissionService" binding="netTcpBinding"
            name="TcpMessageTransmissionService" contract="CoreService.IMessageTransmissionService" >
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>

          <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
        </service>
      </services>
      
        <bindings>
            <basicHttpBinding>
                <binding name="HttpMessageTransmissionService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="TcpMessageTransmissionService" />
            </netTcpBinding>
        </bindings>
      <!--For the services which are consumed!-->
        <client>
            <endpoint address="http://localhost:8080/AgentService/HttpMessageTransmissionService.svc"
                binding="basicHttpBinding" bindingConfiguration="HttpMessageTransmissionService"
                contract="SR_CoreComponent.IMessageTransmissionService" name="HttpMessageTransmissionService" />
            <endpoint address="net.tcp://localhost:8090/CoreService/TcpMessageTransmissionService"
                binding="netTcpBinding" bindingConfiguration="TcpMessageTransmissionService"
                contract="SR_CoreComponent.IMessageTransmissionService" name="TcpMessageTransmissionService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>